<!--The content below is only a placeholder and can be replaced.-->
<input id="paste" placeholder="Entre com a URL do Yumpu" (change)="onChangeURL($event)">
<div class="container">
  <div class="image-preview">
    <h1>
      {{doc?.name}}
    </h1>
    <img [title]="actualPage+1" [src]="doc?.pages[actualPage]?.data">
    <div id="image-controllers">
      <button i-button (click)="previousPage()">
        <i class="fa fa-angle-double-left fa-2x"></i>
      </button>
      <button i-button (click)="nextPage()">
        <i class="fa fa-angle-double-right fa-2x"></i>
      </button>
      <button i-button (click)="download()">
        <i class="fa fa-download fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="pdf-preview">
    <iframe [src]="preview() | sanitize"></iframe>
  </div>
</div>
<button i-button (click)="changeValue()">AQUI</button>
<input id="copy" value="https://www.yumpu.com/xx/document/view/59723392/loop-bolsas-outono-inverno-2018">