<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="input-container">
    <input id="paste" placeholder="Entre com a URL do Yumpu" (change)="onChangeURL($event)">
    <span *ngIf="errorMessage"> {{errorMessage}}</span>
  </div>
  <div class="inner-container">
    <span *ngIf="loading">
      <i class="fa fa-spinner fa-4x rotating-icon" aria-hidden="true"></i>
    </span>

    <div class="image-preview">

      <div class="document-preview" *ngIf="yumpuDocument">

        <div class="document-title">
          {{yumpuDocument.name}}
        </div>

        <div class="image-container">
          <img [title]="actualPage+1" [src]="yumpuDocument.pages[actualPage]?.data">
        </div>

        <div class="image-controllers">

          <button (click)="previousPage()" title="Página anterior">
            <i class="fa fa-angle-double-left fa-2x"></i>
          </button>

          <button (click)="nextPage()" title="Próxima página">
            <i class="fa fa-angle-double-right fa-2x"></i>
          </button>

          <button (click)="downloadAsPng()" [title]="'Baixar ' + (actualPage + 1) + '.png'">
            <i class="fa fa-file-image-o fa-2x"></i>
          </button>
          <button (click)="downloadAsZIP()" [title]="'Baixar ' + yumpuDocument.name + '.zip'  ">
            <i class="fa fa-file-archive-o fa-2x"></i>
          </button>
          <button (click)="downloadAsPDF()" [title]="'Baixar ' + yumpuDocument.name + '.pdf'  ">
            <i class="fa fa-file-pdf-o fa-2x"></i>
          </button>

        </div>

      </div>

    </div>

    <div class="pdf-preview" *ngIf="isDevMod">
      <!-- <iframe [src]="preview() | sanitize"></iframe> -->
    </div>

  </div>
</div>
<div *ngIf="isDevMod">
  <button (click)="changeValue()">AQUI</button>
  <input id="copy" value="https://www.yumpu.com/en/document/view/59723392/loop-bolsas-outono-inverno-2018">
</div>