<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="input-container">
    <input id="paste" placeholder="Entre com a URL do Yumpu" (change)="onChangeURL($event)">
  </div>
  <div class="inner-container">

    <div class="image-preview">

      <div class="document-preview" *ngIf="doc">

        <div class="document-title">
          {{doc.name}}
        </div>

        <div class="image-container">
          <img [title]="actualPage+1" [src]="doc.pages[actualPage]?.data">
        </div>

        <div class="image-controllers">

          <button i-button (click)="previousPage()" title="Página anterior">
            <i class="fa fa-angle-double-left fa-2x"></i>
          </button>

          <button i-button (click)="nextPage()" title="Próxima página">
            <i class="fa fa-angle-double-right fa-2x"></i>
          </button>

          <button i-button (click)="download()" [title]="'Baixar ' + doc.name + '.pdf'  ">
            <i class="fa fa-download fa-2x"></i>
          </button>

        </div>

      </div>

    </div>

    <div class="pdf-preview" *ngIf="isDevMod">
      <!-- <iframe [src]="preview() | sanitize"></iframe> -->
    </div>

  </div>
</div>
<div *ngIf="isDevMod">
  <button i-button (click)="changeValue()">AQUI</button>
  <input id="copy" value="https://www.yumpu.com/xx/document/view/59723392/loop-bolsas-outono-inverno-2018">
</div>