img, object {
    display: inline-block;
    height: 100%;

}
object {
    text-align: center;
    border:none;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 80%;
}

.container .image-preview, .container .pdf-preview {
    position: relative;
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
    text-align: center;
    width: calc(50% - 1em);
    height: 700px;
}
.container .pdf-preview {
    background: green;
}
.container .pdf-preview {
    background: yellow;
}